.typewriter {
    margin-top: 8em;
}
    
.cursor {
    animation:1s blink step-end infinite
}
    
  @keyframes blink {
      from,
      to {
          color: transparent
      }
      50% {
          color: #000
      }
  }
  
  @-moz-keyframes blink {
      from,
      to {
          color: transparent
      }
      50% {
          color: #000
      }
  }
  
  @-webkit-keyframes blink {
      from,
      to {
          color: transparent
      }
      50% {
          color: #000
      }
  }
  
  @-ms-keyframes blink {
      from,
      to {
          color: transparent
      }
      50% {
          color: #000
      }
  }
  
  @-o-keyframes blink {
      from,
      to {
          color: transparent
      }
      50% {
          color: #000
      }
  } 

  @media screen and (max-width: 500px) {
	.homeOptions {
		width: 90%;
		height: 20%;
	}

	.title {
		font-size: 1.5em;
		margin-bottom: 2em;
	}

	.signButton {
		height: 2em;
		width: 8em;
		margin: 0.5em auto 0.5em auto;
	}

	.typewriter {
		margin-top: 4em;
		font-size: 0.70em;
		padding:  1em 0.3em 3em 0.3em;
	  }
	
  }