.header {
  display: inline-flex;
  justify-content: space-between;
  height: 3em;
  width: 100%;
  background-color: #272727;
}

.welcome {
  height: 3em;
  line-height: 2.5em;
  margin-left: 1em;
  color: #A07178;
  font-size: 1.2em;
  font-weight: 400;
}
  
.signout {
  height: 3em;
  line-height: 2.5em;
  margin-right: 1em;
  font-weight: 500;
  color: #A07178;
  font-size: 1.2em;
  text-align: right;
  text-transform: lowercase;
  cursor: pointer;
}

.signout:hover {
  text-decoration: underline;
}
  

  
