@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background: white;
}

.App {
  text-align: center;
}

.button {
  width: 8em;
  height: 3em;
  margin: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  background:  #A07178;
  color: white;
  border-radius: 5em;
  cursor: pointer;
  box-shadow: none;
  border: solid 0.2em #A07178;
}


.header {
  height: 3em;
  width: 100%;
  background-color: #272727;
  display: inline-flex;
  justify-content: space-between;

}

.signout {
  text-align: right;
  color: #A07178;
  font-size: 1.2em;
  font-weight: 500;
  height: 3em;
  margin-right: 1em;
  line-height: 2.5em;
  text-transform: uppercase;
  cursor: pointer;
}

.welcome {
  margin-left: 1em;
  color: #A07178;
  font-size: 1.2em;
  font-weight: 400;
  height: 3em;
  line-height: 2.5em;
}

.signout:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3em;
  font-weight: 400;
}

.Board {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 6em;
  margin-right: 6em;
}

form {
  margin-bottom: 2em;
}

input {
  width: 30em;
  height: 2em;
  font-family: 'Montserrat', sans-serif;
  border-radius: 2em;
  border-style: none;
  padding-left: 1em;
  border: solid 0.1em black;
  -webkit-appearance: none;
  box-shadow: none
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}


.Post {
  width: 14em;
  min-height: 8em;
  margin: 1em;
  background-color: #A07178;
  border-radius: 2em;
  color: white;
  position: relative;
}

.delete {
  position: absolute;
  bottom: 0;
  border: none;
  background-color: white;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  cursor: pointer;
  color: #A07178;
  margin-left: 1.6em;
  margin-bottom: 1em;
  border-radius: 5em;
  width: 5em;
}

.message {
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 1.5em;
  font-size: 0.95em;
  margin-bottom: 4em;
  margin-top: 2em;
}

.signinForm, .signupForm {
  display: inline-grid;
  margin-top: 6em;
}

.sign {
  margin: 1em;
  width: 20em;
}

.continue {
  margin-left: 6em;
  height: 3em;
}

.username {
  position: absolute;
  bottom: 0;
  margin-left: 2em;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 200;
}
